.left_part {
  width: 25vw;
  height: 100vh;
}

.left_text {
  font-size: 25px;
  font-weight: 600;
  margin: 30px 25px;

}

.left_create_btn {
  display: flex;
  height: 60px;
  margin: 40px 0px 0px 35px;

}

.left_create_btn>button {
  display: flex;
  width: 90%;
  height: 60%;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 20px;
  color: white;
  border: none;
  background-color: black;
}

#plus {
  font-size: 30px;
  padding-bottom: 25px;
  padding-top: 25px;
  padding-right: 15px;
}

.left_box {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.left_notes_title {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 90vh;
}

::-webkit-scrollbar {
  display: none;
}