.m_icon_title {
    display: flex;
    height: 60px;
    width: 320px;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    margin: 10px 0 10px 30px;
    padding-left: 30px;
    gap: 20px;
}

.m_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 70%;
    width: 15%;
    font-size: 20px;
    font-weight: 500;
    color: white;
}