.display_notes {
  width: 75vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.right_icon_title {
  width: 75vw;
  background-color: #E8E8E8;
  height: 12vh;
  display: flex;
  align-items: center;
}

.right_icon {
  height: 60%;
  width: 5%;
  border-radius: 50%;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 23px;
  font-weight: 600;
}

.right_title {
  margin-left: 40px;
  font-size: 28px;
  font-weight: 600;
}

.note_details {
  height: 61vh;
  width: 75vw;
  background-color: #F7ECDC;
  overflow-y: scroll;
  overflow-x: hidden;
}

.content {
  display: flex;
  width: 75vw;
  justify-content: space-between;
  padding: 12px 0 0 80px;
  gap: 20px;
  
}

.date_time {
  display: flex;
  flex-direction: column;
  width: 13vw;
}

.date {
  font-size: 16px;
  font-weight: 600;
  font-family: Roboto;
}

.time {
  font-size: 16px;
  font-weight: 600;
  font-family: Roboto;
  margin-top: 18px;
}

.notes {
  width: 55vw;
  text-align: left;
  font-family: Roboto;
  font-size: 16px;
  margin-right: 120px;
  font-weight: 600;
}

.type_text {
  display: flex;
  height: 24vh;
  width: 75vw;
  background-color: #E8E8E8;
  border-radius: 0px 0px 0px 15px;
  justify-content: center;
  align-items: center;
 
}

.type_text>textarea {
  height: 15vh;
  width: 68vw;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  outline: none;
  resize: none;
}

.type_text img {
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 45px;
  right: 45px;
}

::-webkit-scrollbar {
  display: none;
}
